:root {
  font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
  --grey-background:  rgb(227, 232, 239);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
}


h2, 
h3, 
p,
li, 
ul {
  padding: 0;
  margin: 0;
}

li, 
ul {
  list-style: none;
}


.container {
  display: grid;
  border: 10px solid red;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
}

.header {
  grid-column: 2 / -1;
  grid-row: 1;
  border: 10px solid green;

  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

.search {
  border: 5px solid saddlebrown;
}

.profile {
  border: 5px solid blue;
}

.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
  border: 10px solid orchid;
  background-color: rgb(69, 144, 206);
  color: white;
  font-weight: 700;
  font-size: 1rem;

  display: grid;
  grid-template-rows: 1fr 2fr 4fr;
  gap: 60px;
}

.logo {
  display: grid;
  align-items: center;
}

.nav > ul, .settings > ul {
  display: grid;
  gap: 15px;
}


.articles {
  grid-column: 2;
  grid-row: 2;

  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--grey-background);
}

.projects {
  border: 5px solid rosybrown;
  padding: 10px;
}

.cards {
  display: grid;

  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.projects > h2 {
  justify-self: start;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 10px 0px 10px 0px;
}

.card > h3 {
  font-size: 1rem;
}

.card > p {
  color: grey;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: white;
  border-left: 5px solid orange;
  border-radius: 5px;
  padding: 10px;
}